---
# Per environment values which override defaults in hmpps-github-discovery/values.yaml
generic-prometheus-alerts:
  alertSeverity: hmpps-sre-alerts-prod

github_discovery:
  env:
    LOG_LEVEL: DEBUG

# Run the Cronjob every 2 hours except 06:xx
discoveryCronJob:
  enabled: true
  cron:
    github_discovery: "45 6,10,12,16,18,20 * * 1-5"
    github_discovery_full: "30 8,14 * * 1-5"

teamsCronJob:
  enabled: true
  cron:
    github_teams_discovery: "20 */6 * * *"

securityCronJob:
  enabled: true
  cron:
    github_discovery_security: "30 06 * * 1-5"

workflowsCronJob:
  enabled: true
  cron:
    github_discovery_workflows: "30 06 * * 0"

